<div class="d-flex w-100">
    <div class="w-100">
        <div class="input-group my-2">
            <span class="input-group-text">Date du rapport</span>
            <input 
            id="dateFood" 
            type="date" 
            class="form-control"
            [(ngModel)]="dateReport" 
            (change)="onChangeDateFood()"
            >
        </div>
        <form *ngIf="animalForm" class="card w-100" [formGroup]="animalForm">
            <div class="card-body">
                <label for="food" class="form-label">Nouriture</label>
                <select
                id="food" 
                formControlName="food"
                type="text" 
                class="form-control m-1" 
                >
                    <option class="form-control m-1" *ngFor="let food of foods$ | async" [ngValue]="food.id">{{food.name}}</option>
                </select>
            </div>
            <div class="card-body">
                <label for="gramage" class="form-label">Quantité</label>
                <input 
                id="gramage" 
                formControlName="gramage"
                type="number" 
                min="1"
                class="form-control m-1" 
                >
            </div>
            <div class="card-body">
                <label for="detail" class="form-label">Détail</label>
                <textarea 
                    id="detail"
                    formControlName="detail"
                    class="form-control m-1" 
                    rows="3"
                >
                </textarea>
            </div>
        </form>
    </div>
</div>
