
.selected {
    background-color: #ffc107;
}

button {
    background-color: #ffc107;
}

.items-ul {
    list-style: none;
    width: 100%;
}

.item-ul {
    border: 1px lightgray solid;
    width: 100%;
}

.item-li {

    width: 33%;
    background-color: transparent;
    border: none;

}

.item-li:first-child {
    width: 50px;
}
