<form *ngIf="contactForm" class="d-flex flex-column justify-content- center align-items-center w-100" [formGroup]="contactForm">
    <div class="card-body w-50">
        <input 
        id="title"
        formControlName="title"
        type="text" 
        class="form-control border border-black rounded-2 m-2"
        placeholder="Titre"
        >
        <textarea 
        id="description"
        formControlName="description"
        type="text" 
        class="form-control border border-black rounded-2 m-2"
        placeholder="Description"
        ></textarea>
        <input 
        id="email"
        formControlName="email"
        type="email" 
        class="form-control border border-black rounded-2 m-2"
        placeholder="Email"
        >
        <button 
            type="button" 
            id="button" 
            (click)="send()"
            class="btn btn-primary border-black m-2 mt-4 w-100" 
            [disabled]="!isUpdated || !contactForm.valid"
            >
            Envoi
        </button>
    </div>
</form>
