
<h1>Bienvenue dans le zoo Arcadia</h1>
<section class="d-flex align-items-center justify-content-evenly">
    <div class="d-flex flex-column align-items-center col-6">
        <p class="paragraphe1">
            Arcadia est un zoo situé en France près de la forêt de Brocéliande, 
            en bretagne depuis 1960. Ils possèdent tout un panel d’animaux, 
            réparti par habitat (savane, jungle, marais) et font extrêmement 
            attention à leurs santés. Chaque jour, plusieurs vétérinaires viennent 
            afin d’effectuer les contrôles sur chaque animal avant l’ouverture du 
            zoo afin de s’assurer que tout se passe bien, de même, toute la nourriture 
            donnée est calculée afin d’avoir le bon grammage (le bon grammage est 
            précisé dans le rapport du vétérinaire).
        </p>
        <img class="col-3 image1" src="assets/images/antilope_accueil.jpg" alt="Antilope">
    </div>
    <img class="image2" src="assets/images/pexels-photo-2078772.webp" alt="Perroquet">
</section>
<section>

</section>
<section>
    
</section>
<section>
    
</section>
 