
ng-multiselect-dropdown {
    // border: lightgray 1px solid;
    display: block;
}

// input {
//     background-color: transparent;
//     border: 1px solid #adadad;
//     border-radius: 4px;
//     padding: 0.41rem;
// }

.titre-animal {
    background-color: #f6f7f8;
}

.titre {
    font-weight: 600;
}

p {
    margin: 10px 0;
}

.input-group-text {
    width: 100px;
}

// .report-line {
//     width: 100%;
// }

// @media screen and (min-width: 992px) {

//     .report-line {
//       width: 75%;
//     }
    
// }
  