
<form *ngIf="animalForm" class="card w-100" [formGroup]="animalForm">
    <div class="card-body">
        <label for="firstname" class="form-label">Prénom</label>
        <input 
        id="firstname" 
        formControlName="firstname"
        type="text" 
        class="form-control m-1" 
        >
        <label for="health" class="form-label">Etat de santé</label>
        <textarea 
        id="health"
        formControlName="health"
        class="form-control m-1" 
        rows="3"
        >
        </textarea>
        <label for="description" class="form-label">Description</label>
        <textarea 
        id="description"
        formControlName="description"
        class="form-control m-1" 
        rows="3"
        >
        </textarea>
        <label for="race" class="form-label">Race</label>
        <select
            id="race" 
            formControlName="race"
            type="text" 
            class="form-control m-1" 
        >
            <option class="form-control m-1" *ngFor="let race of races$ | async" [ngValue]="race.id">{{race.label}}</option>
        </select>
        <label for="habitat" class="form-label">Habitat</label>
        <select
            id="habitat" 
            formControlName="habitat"
            type="text" 
            class="form-control m-1" 
        >
            <option class="form-control m-1" *ngFor="let habitat of habitat$ | async" [ngValue]="habitat.id">{{habitat.name}}</option>
        </select>
        <app-carousel [carousel]="animal.images"  (deleteCarouselImage)="onDeleteImage($event)"></app-carousel>
        <app-image-crop [carousel]="animal.images!" (addCarouselImage)="onAddImage($event)"></app-image-crop>
    </div>
</form>
