
<input class="form-check-input me-1" type="checkbox" value="" id="view{{view.id}}">
<form class="card w-100 {{updatable ? '' : 'display'}}" [formGroup]="viewForm">
    <div class="card-body">
        <label for="pseudo" class="form-label">Pseudo</label>
        <input 
        id="pseudo" 
        formControlName="pseudo"
        type="text" 
        class="form-control m-1" 
        >
        <label for="comment" class="form-label">Avis</label>
        <textarea 
        id="comment"
        formControlName="comment"
        class="form-control m-1" 
        rows="3"
        >
        </textarea>
    </div>
    <div class="d-flex justify-content-end w-100 p-2">
        <button type="button" id="button" class="btn btn-warning" (click)="save()">Enregistrer</button>
    </div>
</form>
