
<ul class="">
    <li class="nav-item">
        <a class="nav-link {{selectedItem === 'Accueil' ? 'active' : ''}}" aria-current="page" href="Accueil">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{selectedItem === 'Services' ? 'active' : ''}}" href="Services">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{selectedItem === 'Habitats' ? 'active' : ''}}" href="#">Habitats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{selectedItem === 'Contact' ? 'active' : ''}}" href="#">Contact</a>
    </li>
</ul>
