
<!-- <div class="toast-container top-50 start-50 translate-middle"></div> -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
        <ngb-toast
        *ngFor="let toast of toastsService.toasts"
        header="Info"
        [delay]="toast.delay"
        [autohide]="toast.autohide"
        (mouseenter)="toast.autohide = false"
        (mouseleave)="toast.autohide = true"
        [class.bg-primary]="!toast.autohide"
        (hide)="toastsService.remove(toast)"
        >
        <div>{{ toast.message }}</div>
    </ngb-toast>
    <ngb-toast
        *ngIf="toastsService.toastRefresh"
        header="Info"
        [autohide]="false"
        >
        <div>Votre connexion va bientôt expirer !</div>
        <div class="mt-2 pt-2 border-top">
            <button type="button" class="btn btn-secondary btn-sm" (click)="refreshToken()" data-bs-dismiss="toast">Refresh</button>
        </div>
    </ngb-toast>
</div>