
<form class="d-flex card w-100 {{updatable ? 'updatable' : 'display'}}" [formGroup]="viewForm">
    <div class="card-body">
        <label for="pseudo" class="form-label">Pseudo</label>
        <input 
        formControlName="pseudo"
        type="text" 
        class="form-control m-1" 
        >
        <label for="comment" class="form-label">Avis</label>
        <textarea 
        formControlName="comment"
        class="form-control m-1" 
        rows="3"
        >
        </textarea>
    </div>
    <div class="d-flex justify-content-end w-100 p-2">
        <button type="button" class="btn btn-primary border-black" (click)="update()">Enregistrer</button>
    </div>
</form>
