
.card-body {

    .no-border {
        border: none;
        resize: none;
        background-color: inherit;
    }

}

.btn-group-vertical {

    background-color: white;

    button {
        height: 40px;
        background-color: #ffc107;
    }

}

.hidden {
    display: none;
}
