
<form *ngIf="userForm" class="card w-100" [formGroup]="userForm">
    <div class="card-body">
        <label for="username" class="form-label">Email</label>
        <input 
        id="username"
        formControlName="username"
        type="text" 
        class="form-control m-1"
        >
        <label for="firstname" class="form-label">Nom</label>
        <input 
        id="firstname"
        formControlName="firstname"
        type="text" 
        class="form-control m-1"
        >
        <label for="lastname" class="form-label">Prénom</label>
        <input 
        id="lastname"
        formControlName="lastname"
        type="text" 
        class="form-control m-1"
        >
        <div>
            <label for="role" class="form-label">Rôle</label>
            <select
                id="role" 
                formControlName="role"
                type="text" 
                class="form-control m-1" 
                >
                <option class="form-control m-1" value="ROLE_EMPLOYE">Employé</option>
                <option class="form-control m-1" value="ROLE_VETERINAIRE">Véterinaire</option>
            </select>
        </div>
    </div>
</form>
