
<section class="d-flex flex-column align-items-center">
    <h2 class="pt-5">Gestion des avis</h2>
    <app-view-form *ngFor="let view of views$ | async" [view]="view" [updatable]="false"></app-view-form>
</section>
<section class="d-flex flex-column align-items-center">
    <h2 class="pt-5">Gestion des services</h2>
    <div class="div-button p-2">
        <button type="button" id="button" class="btn btn-warning" (click)="addService()" [disabled]="new">Ajouter un service</button>
    </div>
    <app-service-card *ngFor="let service of services$ | async; let index = index" [service]="service" [updatable]="true" (updateServiceList)="updateService(index)"></app-service-card>
    <app-service-card class="{{new ? '' : 'hidden'}}" [service]="service" [updatable]="true" (updateServiceList)="updateCreateService(0)"></app-service-card>
</section>
<section class="d-flex flex-column align-items-center">
    <h2 class="pt-5">Gestion de l'alimentation des animaux</h2>
    <app-animal-list template="food"></app-animal-list>    
</section>
