
<form *ngIf="hoursForm" class="card w-100" [formGroup]="hoursForm">
    <div class="card-body">
        <label for="monday" class="form-label">Lundi</label>
        <input 
        id="monday"
        formControlName="monday"
        type="text" 
        class="form-control m-1"
        >
        <label for="tuesday" class="form-label">Mardi</label>
        <input 
        id="tuesday"
        formControlName="tuesday"
        type="text" 
        class="form-control m-1"
        >
        <label for="wednesday" class="form-label">Mercredi</label>
        <input 
        id="wednesday"
        formControlName="wednesday"
        type="text" 
        class="form-control m-1"
        >
        <label for="thursday" class="form-label">Jeudi</label>
        <input 
        id="thursday"
        formControlName="thursday"
        type="text" 
        class="form-control m-1"
        >
        <label for="friday" class="form-label">Vendredi</label>
        <input 
        id="friday"
        formControlName="friday"
        type="text" 
        class="form-control m-1"
        >
        <label for="saturday" class="form-label">Samedi</label>
        <input 
        id="saturday"
        formControlName="saturday"
        type="text" 
        class="form-control m-1"
        >
        <label for="sunday" class="form-label">Dimanche</label>
        <input 
        id="sunday"
        formControlName="sunday"
        type="text" 
        class="form-control m-1"
        >
    </div>
</form>
