
<table *ngIf="hours">
    <tbody>
        <tr>
            <td>Lundi</td>
            <td> {{hours[0].monday}}</td>
        </tr>
        <tr>
            <td>Mardi</td>
            <td> {{hours[0].tuesday}}</td>
        </tr>
        <tr>
            <td>Mercredi</td>
            <td> {{hours[0].wednesday}}</td>
        </tr>
        <tr>
            <td>Jeudi</td>
            <td> {{hours[0].thursday}}</td>
        </tr>
        <tr>
            <td>Vendredi</td>
            <td> {{hours[0].friday}}</td>
        </tr>
        <tr>
            <td>Samedi</td>
            <td> {{hours[0].saturday}}</td>
        </tr>
        <tr>
            <td>Dimanche</td>
            <td> {{hours[0].sunday}}</td>
        </tr>
    </tbody>
</table>