
<table>
    <tbody>
        <tr>
            <td>Lundi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Mardi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Mercredi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Jeudi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Vendredi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Samedi</td>
            <td> 8h00 - 21h00</td>
        </tr>
        <tr>
            <td>Dimanche</td>
            <td> 8h00 - 21h00</td>
        </tr>
    </tbody>
</table>