

img {
    width: 40px;
}

.animal {

    background-color: white;
    
    img {
        width: 340px;
    }

    h5 {
        padding:20px;
        min-width: 150px;
        width: 100%;
        text-align: center;
    }
    
}

.animal-detail {

    height: 100%;
    background-color: #FFE092;

    img {
        width: 200px;
    }

    ul {

        width: 50%;

        li {
            text-align: right;
            list-style: none;
        }

    }

}

.hidden {
    display: none;
}
