

img {
    width: 40px;
}

.animal {

    background-color: white;
    
    img {
        width: 340px;
    }

    h5 {
        padding:20px;
        min-width: 150px;
        width: 100%;
        text-align: center;
    }
    
}
