
<div class="d-flex py-2">
    <div class="d-flex flex-row align-items-center ps-4 animal">
        <img src="assets/images/{{ collapse ? 'droite_jaune.jpg' : 'bas_jaune.jpg'}}" (click)="toggleCollapse()" alt="animal collapse arrow"/>
        <div class="d-flex flex-row align-items-center">
            <img src="{{ useBackendImages }}/{{ animal.images[0].imageName }}" alt="Animal {{ animal.firstname }}">
            <h5>{{ animal.firstname }}</h5>
        </div>
    </div>
    <div class="animal-detail {{ collapse ? 'hidden' : '' }} p-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
        <ul>
            <li><span>Race :</span><span> {{animal.race.label}}</span></li>
            <li><span>Etat de l'animal :</span><span> {{animal.health}}</span></li>
            <li><span>Nouriture proposée :</span><span> {{animal.race.label}}</span></li>
            <li><span>Grammage de la nouriture :</span><span> {{animal.race.label}}</span></li>
            <li><span>Détail de l'état :</span><span> {{animal.race.label}}</span></li>
        </ul>
    </div>
</div>
